/* Ogólne ustawienia dla całej aplikacji */
QWidget {
    background-color: #2E2E2E;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    color: #E0E0E0;
}

/* Przycisk */
QPushButton {
    background-color: #4A4A4A;
    color: #E0E0E0;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
}
QPushButton:hover {
    background-color: #505050;
}
QPushButton:pressed {
    background-color: #696969;
}

/* Pola tekstowe */
QLineEdit {
    border: 1px solid #555;
    border-radius: 5px;
    padding: 6px 10px;
    background-color: #3A3A3A;
    color: #E0E0E0;
}

/* QTabWidget i zakładki */
QTabWidget::pane {
    border: 1px solid #555;
    background-color: #3A3A3A;
}
QTabBar::tab {
    background-color: #4A4A4A;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 2px;
    width: 100px;
}
QTabBar::tab:selected {
    background-color: #3A3A3A;
    border-bottom: 2px solid #696969;
}

/* Etykiety */
QLabel {
    color: #E0E0E0;
}

/* Okno logowania */
QDialog {
    background-color: #3A3A3A;
    border: 1px solid #555;
    border-radius: 10px;
}


/* Okno zliczania */
/* QCombobox - Lista Algorytmów */
QComboBox {
    border: 1px solid #555;
    border-radius: 5px;
    padding: 6px 10px;
    background-color: #3A3A3A;
    color: #E0E0E0;
}

QComboBox QAbstractItemView {
    border: 1px solid #555;
    background-color: #3A3A3A;
    color: #E0E0E0;
}

QComboBox::drop-down {
    border: none;
    background-color: #4A4A4A;
    width: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Strona Treningu - Lista epok oraz Współczynnik uczenia */
/* QSpinBox */
QSpinBox {
    border: 1px solid #555;
    border-radius: 5px;
    padding: 6px 10px;
    background-color: #3A3A3A;
    color: #E0E0E0;
}

/* QSpinBox - strzałki */
QSpinBox::up-button, QSpinBox::down-button {
    border: none;
    background-color: #4A4A4A;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

/* QSpinBox - po najechaniu na strzałki */
QSpinBox::up-button:hover, QSpinBox::down-button:hover {
    background-color: #5A5A5A;
}

/* QDoubleSpinBox */
QDoubleSpinBox {
    border: 1px solid #555;
    border-radius: 5px;
    padding: 6px 10px;
    background-color: #3A3A3A;
    color: #E0E0E0;
}

/* QDoubleSpinBox - strzałki */
QDoubleSpinBox::up-button, QDoubleSpinBox::down-button {
    border: none;
    background-color: #4A4A4A;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

/* QDoubleSpinBox - po najechaniu na strzałki */
QDoubleSpinBox::up-button:hover, QDoubleSpinBox::down-button:hover {
    background-color: #5A5A5A;
}

/* Strona Listy Modeli */
/* Style dla QTableWidget (Tabela modeli) */
QTableWidget {
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #3A3A3A;
    color: #E0E0E0;
    font-size: 14px;
    padding: 5px;
}

QTableWidget QTableCornerButton::section {
    background-color: #3A3A3A;
}

QTableWidget::item {
    background-color: #3A3A3A;
    border: 1px solid #555;
    padding: 6px 10px;
}

QTableWidget::item:selected {
    background-color: #4A4A4A;
    color: #FFFFFF;
}

/* Styl nagłówków tabeli */
QHeaderView::section {
    background-color: #4A4A4A;
    color: #E0E0E0;
    border: 1px solid #555;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

QTableWidget::horizontalHeader {
    border: 1px solid #555;
}

QTableWidget::verticalHeader {
    border: 1px solid #555;
}

QPushButton#UtwórzNowyModel {
    background-color: #00A1E0;
    color: #FFFFFF;
}

QPushButton#UtwórzNowyModel:hover {
    background-color: #007F9E;
}