# Ignorowanie skompilowanych plików Pythona
__pycache__
*.pyc
*.pyo
*.pyd

# Ignorowanie plików i katalogów Git
.git
.gitignore

# Ignorowanie plików konfiguracyjnych Dockera
.dockerignore
Dockerfile
docker-compose.yml

# Ignorowanie dokumentacji i innych niepotrzebnych plików
*.md
*.txt
LICENSE

# Ignorowanie lokalnych środowisk wirtualnych
.env
*.env
.venv/
*venv

# Ignorowanie logów i tymczasowych plików
*.log
temp/
tmp/

# Ignorowanie notebooków Jupyter i innych plików deweloperskich
*.ipynb
tests/
experiments/

# Ignorowanie innych potencjalnych niepotrzebnych plików
*.bak
*.swp
*.swo
.vscode/
train_user*