# 📝 Pythonowe pliki tymczasowe i cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# 🛠 Pliki konfiguracyjne dla IDE
.vscode/
.idea/
*.sublime-workspace

# 🔄 Pliki środowiska wirtualnego
venv/
ENV/
env/
SMLE_ENV_3_12/
dml_venv/
dml_venv_39/
*.venv

# 🏗 Pliki zależności i buildów
*.egg-info/
build/
dist/
*.whl

# 📂 Pliki wygenerowane przez pip i Poetry
pip-log.txt
pip-delete-this-directory.txt
poetry.lock
Pipfile.lock

# 📊 Dane i modele (jeśli chcesz je przechowywać lokalnie, a nie na repo)
dataset/
dataset/train/
dataset/test/
dataset/*.json
models/
checkpoints/
*.pth
*.pt
*.onnx

# 📷 Tymczasowe pliki obrazów i logów
# *.log
# logs/
*.png
*.jpg
# *.jpeg
# *.gif
# *.bmp

# 🔬 Debug i testy
debug.log
tests/__pycache__/
tests/output/
logs/

# ⚠️ Pliki specyficzne dla systemów operacyjnych
.DS_Store
Thumbs.db
*.bak
*.swp
*.swo
*.orig

*__pycache__*
test