albucore==0.0.23
albumentations==2.0.5
annotated-types==0.7.0
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
filelock==3.13.1
fonttools==4.56.0
fsspec==2024.6.1
imageio==2.37.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.8
labelImg==1.8.6
lazy_loader==0.4
lxml==5.3.1
MarkupSafe==2.1.5
matplotlib==3.10.1
mpmath==1.3.0
networkx==3.3
numpy==2.1.2
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==24.2
pandas==2.2.3
pillow==11.0.0
pycocotools==2.0.8
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.2.1
PyQt5==5.15.11
PyQt5_sip==12.17.0
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
simsimd==6.2.1
six==1.17.0
stringzilla==3.12.3
sympy==1.13.1
threadpoolctl==3.5.0
tifffile==2025.2.18
torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchaudio==2.1.0+cu118
--extra-index-url https://download.pytorch.org/whl/cu118
pillow
numpy
opencv-python
torch==2.6.0 --pre
torchvision==0.21.0 --pre
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1