QLabel {
    font-size: 14px;
}
QComboBox, QLineEdit {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    min-width: none;
}
QComboBox:hover, QLineEdit:hover {
    border: 1px solid #888;
}
QPushButton {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    min-width: none;
}
QPushButton:hover {
    background-color: #d0d0d0;
}
QPushButton:pressed {
    background-color: #c0c0c0;
}
QListWidget {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    min-width: none;
}